#top {
	height: 20px; 
	width: 412px; 
	border: 3px double black;
}
#left {
	height: 200px; 
	width: 50px; 
	border: 3px double black; 
	float: left;
}
#content {
	height: 200px; 
	width: 300px; 
	border: 3px double black; 
	float: left;
}
#right {
	height: 200px; 
	width: 50px; 
	border: 3px double black; 
	float: left;
}
#bottom {
	height: 20px; 
	width: 412px; 
	border: 3px double black; 
	clear: left;
}
